{:aliases  {:dev {:extra-paths ["development/src"
                                "development/resources"
                                "frontend/src"
                                "frontend/resources"]
                  :extra-deps {uchat/api-server {:local/root "./bases/api-server"}
                               uchat/database {:local/root "./components/database"}
                               uchat/users {:local/root "./components/users"}
                               uchat/subscriptions {:local/root "./components/subscriptions"}
                               uchat/teams {:local/root "./components/teams"}
                               uchat/channels {:local/root "./components/channels"}
                               org.clojure/clojure {:mvn/version "1.11.1"}
                               integrant/integrant {:mvn/version "0.8.1"}
                               metosin/spec-tools {:mvn/version "0.10.5"}
                               com.zaxxer/HikariCP {:mvn/version "3.3.1"}
                               ring/ring-defaults {:mvn/version "0.3.4"}
                               ring/ring-core {:mvn/version "1.8.2"}
                               ring/ring-json {:mvn/version "0.5.1"}
                               ring/ring-jetty-adapter {:mvn/version "1.8.2"}
                               ring/ring-devel {:mvn/version "1.10.0"}
                               buddy/buddy-auth {:mvn/version "3.0.323"}
                               buddy/buddy-hashers {:mvn/version "2.0.167"}
                               http-kit/http-kit {:mvn/version "2.7.0"}
                               com.taoensso/timbre {:mvn/version "6.2.2"}
                               compojure/compojure {:mvn/version "1.7.0"}
                               clj-http/clj-http {:mvn/version "3.12.3"}
                               com.github.seancorfield/next.jdbc {:mvn/version "1.3.883"}
                               clj-time/clj-time {:mvn/version "0.15.2"}
                               dev.weavejester/ragtime {:mvn/version "0.9.3"}
                               org.postgresql/postgresql {:mvn/version "42.2.10"}
                               org.clojure/tools.deps.alpha {:git/url "https://github.com/clojure/tools.deps.alpha"
                                                             :sha "8f8fc2571e721301b6d52e191129248355cb8c5a"}
                               reagent/reagent           {:mvn/version "1.2.0"}
                               ns-tracker/ns-tracker     {:mvn/version "0.4.0"}
                               re-pressed/re-pressed     {:mvn/version "0.3.2"
                                                          :exclusions  [re-frame/re-frame
                                                                        reagent/reagent]}
           ;;garden/garden             {:mvn/version "1.3.10"},
                               metosin/reitit-schema     {:mvn/version "0.5.18"}
                               metosin/reitit-frontend   {:mvn/version "0.5.18"}
                               metosin/reitit            {:mvn/version "0.5.18"}
                               re-frame/re-frame         {:mvn/version "1.3.0"}
                               cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
                               thheller/shadow-cljs      {:mvn/version "2.20.20"}
                               com.teknql/shadow-cljs-tailwind-jit {:mvn/version "1.0.0"}
                               binaryage/devtools         {:mvn/version "1.0.6"}
                               day8.re-frame/re-frame-10x {:mvn/version "1.8.1"}
                               day8.re-frame/tracing      {:mvn/version "0.6.2"}
                               }}

            :test {:extra-paths []}
            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "edaef89207c2852010132e863ae87ebba5bedc5b"
                                 :deps/root "projects/poly"}}}}}
