{:paths ["src" "resources"]
 :deps {
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        potemkin/potemkin {:mvn/version "0.4.6"}
        metosin/jsonista {:mvn/version "0.3.8"}

        }
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
