{:db/jdbc {:jdbc-url {:host "localhost"
                      :dbtype "postgres"
                      :dbname "uchat"
                      :useSSL false}
           :migration true
           :username "postgres"
           :password "postgres"}  
 :db/migrations {:run? true
                 :db-path "migrations"
                 :db-pool #ig/ref :db/jdbc}
 :server/restful {:port 4000 :db-pool #ig/ref :db/jdbc}
 :server/websocket true}
