{:paths ["src" "resources"]
 :deps {ring/ring-defaults {:mvn/version "0.3.4"}
        ring/ring-core {:mvn/version "1.8.2"}
        ring/ring-json {:mvn/version "0.5.1"}
        ring/ring-jetty-adapter {:mvn/version "1.8.2"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        ring/ring-devel {:mvn/version "1.10.0"}
        buddy/buddy-auth {:mvn/version "3.0.323"}
        compojure/compojure {:mvn/version "1.7.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
