{:paths ["resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.12.985"}
        uchat/api-server {:local/root "../../bases/api-server"}
        uchat/database {:local/root "../../components/database"}
        uchat/users {:local/root "../../components/users"}
        uchat/subscriptions {:local/root "../../components/subscriptions"}
        uchat/teams {:local/root "../../components/teams"}
        uchat/channels {:local/root "../../components/channels"}
        uchat/socket {:local/root "../../components/socket"}
        uchat/messages {:local/root "../../components/messages"}
        uchat/tools {:local/root "../../components/tools"}
        uchat/auth {:local/root "../../components/auth"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :app {:main-opts
                 ["-m" "com.howard.uchat.backend.api-server.main"]}
           :uberjar {
                      :replace-deps {uberdeps/uberdeps {:mvn/version "1.3.0"}}
                      :replace-paths []
                      :main-opts ["-m" "uberdeps.uberjar" "--aliases" "app"]
                      }
           }}

